@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";

body{
    font: var(--font-m);
    color: var(--primary-color);

    --error-color: color-mix(in srgb, var(--bg-color) 95%, red);
    --green-color: color-mix(in srgb, var(--bg-color) 80%, green);
}

.app {
    background: var(--bg-color);
    min-height: 100vh;

}

.content-page {
    display: flex;
}

.page-wrapper {
    flex-grow: 1;
    padding: 15px;
    height: calc(100vh - var(--navbar-height) );
    overflow: auto;
}
