.d68e055f-css{margin-top:20px}.e11014f8-css{display:flex;flex-direction:column;padding:20px;border:2px solid var(--inverted-bg-color)}.ed585e4f-css{margin-top:10px}
.e013b4eb-css{margin-top:10px;display:flex;border:2px dashed var(--inverted-bg-color);padding:5px;flex-direction:column;transition:transform 2s ease}.e104615d-css{display:flex;gap:5px}.d47c7403-css{transform:translateX(-100vw)}
.cf653f10-css{display:flex;flex-direction:column;gap:15px}
