.title{
    font:var(--font-l);
    color:var(--primary-color);
}

.text{
    font:var(--font-m);
    color:var(--secondary-color);
}

.left{
    text-align: left;
}

.right{
    text-align: right;
}

.center{
    text-align: center;
}

.size_l{
    .text{
        font: var(--font-l);
        color:var(--secondary-color);
    }
}

.size_m {
    .text{
        font: var(--font-m);
        color:var(--secondary-color);
    }
}

.size_xl{
    .text{
        font: var(--font-xl);
        color:var(--secondary-color);
    }
}

.error {
    .title{
        font:var(--font-l);
        color:red;
    }

    .text{
        font:var(--font-m);
        color:firebrick;
    }
}

.secondary{
    .title{
        color: var(--inverted-primary-color);
    }

    .text{
        color:var(--primary-color);
    }
}