.Button {
    cursor: pointer;
    color:var(--primary-color)
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.outline{
    background: none;
    padding: 15px;
    border: 2px solid var(--primary-color);
}