.Sidebar {
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    transition: width 0.3s;
    display: flex;
    flex-direction: column;
    position: relative;
    //align-items: center;
    gap: 15px;
}

.item {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.link {
    flex-basis: 50%;
}

.logo {
    color: var(--primary-color);
}

.themeSwitcher {
    margin: 0 auto;
    transform: scale(0.75);
}

.collapsed {
    width: var(--sidebar-width-collapsed);

    .link {
        display: none;
    }

}

.collapseBnt {
    font: var(--font-l);
    position: absolute;
    right: 0;
    top: 50%;
}

.logout {
    position: absolute;
    bottom: 150px;
}

.icon {
    color: var(--primary-color)
}