.Sidebar{
    height: calc(100vh - var(--navbar-height));
    width: var(--sidebar-width);
    background: var(--inverted-bg-color);
    transition: width 0.3s;
    display:flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.logo{
    color: var(--primary-color);

}

.themeSwitcher{
    transform: scale(0.75);
}

.collapsed{
    width: var(--sidebar-width-collapsed);
}

.collapseBnt{
    font: var(--font-l);
    position: absolute;
    right: 0;
    top:50%;
}