.Menu{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.categories{
    flex: 1;
    height:120px ;
    display: grid;
    grid-auto-flow:column;
    grid-gap: 100px;
    grid-template-columns: 100px repeat(auto-fill,100px);
    overflow-x: auto;
}

@media screen and ( width<=600px) {
    .categories{
        grid-gap: 50px;
    }
}

.categoriesLoading{
    width: 100%;
    display: flex;
    justify-content: center;
}

.products{
    margin-top:50px;
}
.preload{
    margin-top:50px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr)) ;
    place-items: center;
    gap: 50px;
}

.error{
    width: fit-content;
    padding: 15px;
    border: 1px solid red;
    margin-bottom: 15px;
}