
.wrapper {
    direction: rtl;
    margin-left:auto;
}


.star {
    color: var(--primary-color);
    text-decoration: none;
    margin: 4px;
}




.wrapper {
    //color: var(--primary-color);

    .svg{
        transform: scale(1.5);
    };
}

.startSelected{
    color: var(--inverted-secondary-color);
}