.app_theme_dark {
    --bg-color: #505052;
    --inverted-bg-color: #252424;
    --primary-color: #efe8e8;
    --secondary-color: #b6b6b6;
    --inverted-primary-color: #000;
    --inverted-secondary-color: #fff;

}