.app.dark {
    --bg-color: #282870;
    --inverted-bg-color: #9696d3;
    --primary-color: #030315;
    --secondary-color: #b4b4e8;
    --inverted-primary-color: #232365;
    --inverted-secondary-color: #b5b5bb;

}