.app_theme_light  {
    --bg-color: #fff;
    --inverted-bg-color: #b8b8bd;
    --primary-color: #151414;
    --secondary-color: #414040;
    --inverted-primary-color: #fff;
    --inverted-secondary-color: #000;

}