.app.light {
  --bg-color: #9696d3;
  --inverted-bg-color: #282870;

  --primary-color: #cdcde5;
  --secondary-color: #b5b5bb;


  --inverted-primary-color: #030315;
  --inverted-secondary-color: #b4b4e8;

}