.app.light {
    --bg-color: #9696d3;
    --inverted-bg-color: #282870;
    --primary-color: #ececf1;
    --secondary-color: #383852;
    --inverted-primary-color: #030315;
    --inverted-secondary-color: #b4b4e8;

}