.Slider{
    position: relative;
    width: 80px;
    height: 40px;

    label {
        position: absolute;
        width: 100%;
        height: 40px;
        background: var(--slider-light) ;
        border-radius: 40px;
        cursor: pointer;
    }

    .fon {
        position: absolute;
        width: 100%;
        height: 40px;
        border-radius: 40px;
        transition: 0.3s;
    }



    .icon {
        top: 5px;
        left: 10px;
        width: 30px;
        height: 30px;
        position: absolute;
        border-radius: 50%;
        transition: 0.3s;
    }

    .icon:empty{
        background: var(--slider-dark);
    }



    input {
        display: none;
        position: absolute;
    }

    input:checked ~ .icon {
        transform: translateX(30px);
    }

    input:checked ~ .icon:empty {
        transform: translateX(30px);
        background: var(--slider-light);

    }

    input:checked ~ .fon {
        background: var(--slider-dark);
    }
}



