.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: 20px;
    color: var(--primary-color)
}

.links {
    margin-left: 15px;
}

.authBtn {
    margin-left: 20px;
}

.mainLink {
    margin-right: 15px;
}

.logo {
    margin-left: auto;
    color: var(--primary-color);
    margin-right: 15px;
    position: relative;
}

.productAmount {
    color: var(--primary-color);
    background: var(--inverted-primary-color);
    width: 15px;
    line-height: 15px;
    text-align: center;
    height: 15px;
    border-radius: 50%;
    right: -5px;
    top: 0;
    position: absolute;
}