.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: 20px;
    color:var(--primary-color)
}

.links {
    margin-left: 15px;
}

.mainLink {
    margin-right: 15px;
}

.logo{
    color: var(--inverted-secondary-color);
    margin-left: auto;
}